.header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > p {
        color: rgb(133, 194, 255);
    }
   
    .header__panel {
        display: flex;
        gap: 50px;

    }
}

.header__invite-popup {
    margin-top: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;

    .code__editor {
        height: 100%;
        transition: none;
    
        * {
            font-family: inherit;
            transition: none;
        }
    }
}

